body {
    margin: 0px;
    padding: 0px;
    background: #FFFFFF; 
    /*
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

body, div {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;   
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    max-width: 95%;
    background-color: #FFFFFF;        
}

#title {
	padding-top: 60px;
	text-align: center;
    color: #333333;	
    /*font-family: Frutiger, 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-size: 48px;
    font-weight: 700;
}

#subtitle {
    padding-top: 10px;
    text-align: center;
    color: #333333; 
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.styled-table {
    border-collapse: collapse;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    /*font-size: 0.9em;*/
    /*font-family: Frutiger, 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    color: #333333;
    width: 100%;
    min-width: 400px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

.styled-table table {
    border-collapse: collapse;
}

.styled-table thead tr {
    background-color: #F7F7F7;
    color: #333333;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/*
.fail-cell {
    background-color: #FAA582;
}

.success-cell {
    background-color: #92C5DE;
}
*/

.badge-fail {
    background-color: #FAA582;
    color: #333333;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    width: 80px;
}

.badge-success {
    background-color: #92C5DE;
    color: #333333;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    width: 80px;
}

.summary-fail {
    background-color: #FAA582; 
    border: 1px solid white;
}

.summary-success {
    background-color: #92C5DE; 
    border: 1px solid white;
}

.line {
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid Gainsboro;
}

.black-link {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333; 
    text-decoration: underline !important;
}

a.black-link:hover {
    color: #333333;
    text-decoration: underline !important;
}  

a.black-link:visited {
    color: #333333; 
    text-decoration: underline !important;
}  

/*
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
*/
/*
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #F7F7F7;
}
*/

/*
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
*/





