<!DOCTYPE html>
<html lang="en">

<head>
    <title>ÖREB-Kataster Compliance Test Suite</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<link th:href="@{/css/fonts.css}" rel="stylesheet" />-->
    <link th:href="@{/css/oerebcts.css}" rel="stylesheet" />
    
    <style>
        body {
            font-family: /*Frutiger, 'Fira Sans',*/ sans-serif;
            font-size: 0.9rem;
        }
    </style>
</head>

<body>
    <div class="container">    
        <div id=title>
            ÖREB-Kataster Compliance Test Suite
        </div>
    
		<table class="styled-table">
		    <colgroup>
		        <col span="1" style="width:17%">
	            <col span="1" style="width:30%">
	            <col span="1" style="width:17%">
                <col span="1" style="width:17%">
                <col span="1" style="width:19%">
		    </colgroup>
		    <thead>
		        <tr>
		            <th>Identifier</th>
	                <th>Service Endpoint</th>
	                <th>GetEGRID</th>
                    <th>Extract</th>
                    <th>Last Validation</th>
		        </tr>
		    </thead>
                <tr th:each="probe: ${probesSummary}">
		            <td>
                        <span th:text="${probe.identifier}"/>
                       <!--
	                   <span>&nbsp;</span>
	                    <a class="black-link" th:href="${probe.identifier}" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
							    <rect width="16" height="16" style="fill:white;stroke:none" />
							    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
							    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
							</svg>
	                    </a>
	                    -->
		            </td>
		            
	                <td>
                        <span th:text="${probe.serviceEndpoint}"/>
	                </td>

	                <td> 
                        <span th:if="${probe.successEgrid}">
                            <span class="badge-success">Success</span>
                        </span>
                        <span th:if="${!probe.successEgrid}">
                            <span class="badge-fail">Failure</span>
                        </span>
                        
                       <span>&nbsp;</span>
                        <a class="black-link" th:href="@{/details/getegrid/}+''+${probe.identifier}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <rect width="16" height="16" style="fill:white;stroke:none" />
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                            </svg>
                        </a>
	                </td>
	                
                    <td> 
                        <span th:if="${probe.successExtract}">
                            <span class="badge-success">Success</span>
                        </span>
                        <span th:if="${!probe.successExtract}">
                            <span class="badge-fail">Failure</span>
                        </span>
                        
                       <span>&nbsp;</span>
                        <a class="black-link" th:href="@{/details/extract/}+''+${probe.identifier}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <rect width="16" height="16" style="fill:white;stroke:none" />
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                            </svg>
                        </a>
                    </td>
                    
                    <td>
                        <span th:text="${#dates.format(probe.endTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                    </td>
		        </tr>
		    </tbody>
		</table>
    </div>
</body>

</html>